# Vivado
.Xil/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.xpr
*.jou
*.log
*.str

# Simulation
simv
simv.daidir/
csrc/
ucli.key
*.vpd
*.vcd
*.fsdb
*.key
*.log

# Verdi
verdiLog/
novas.conf
novas.rc
*.dat

# OS and editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*~
